*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

header{
    height: 100vh;
}
header video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
header h1{
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    z-index: 1;
    animation: texto 3s 1;
    opacity: 1;
}
@keyframes texto {
    0%{
        opacity: 0;
    }
}
i{
    position: fixed;
    z-index: 10;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
}
#musica{
    cursor: pointer;
}
.contenedor{
    width: 100%;
    height: 100vh;    
}
.cajasContenido{
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    object-fit: cover;
}
.contenedorImg{
    height: 100vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.contenedorH1{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.mensajeH1{
    font-weight: 400;
}
#flexDir{
    flex-direction: row !important;
}
body>footer{
    position: sticky;
    top: 100vh;
    height: 264px;
    background: rgb(66,66,66);
    background: linear-gradient(90deg, rgba(66,66,66,0.9976365546218487) 0%, rgba(204,200,200,0.68531162464986) 43%, rgba(245,245,247,1) 100%);
    flex-basis: auto;
}
footer div{
    width: 100%;
    height: 264px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer div img{
    width: 15%;
    height: auto;
    padding-bottom: 20px;
    padding-left: 40px;
}
footer div p{
    color: #161A1D;
    padding-right: 40px;
}

footer div ul li{
    
    list-style-type: none;
    padding: 10px;
    display: inline-block
}
footer div ul li a {
    color: #161A1D;
    text-decoration: none;
    transition: 0.5s;
}
footer div ul li a:hover{
    color: rgb(0, 162, 255);
}
footer div ul li a:after {
    content: "";
    display: block;
    width: 0;
    border-bottom: 1px solid black;
    transition:all 0.3s linear 0s;
}
footer div ul li a:hover:after{
    width: 90%;
}
footer div #git{
    position: relative;
    color: #161A1D;
    padding-right: 40px;
}
footer div #git img{
    position: absolute;
    opacity: 0;
    width: 100px;
    height: auto;
    top: -20px;
    transition: opacity .5s, top .5s;
}
footer div #git:hover img{
   opacity: 1;
   top: 20px;
}


